html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title VCL Fantasy Stats
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css", rel="stylesheet")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")
		link(href='css/main.css', rel='stylesheet')
		//- link(href='images/favicon.jpg', rel='shortcut icon', type='image/jpg')
	body
		.container-fluid
			//- nav.nav-header
			//- nav.navbar.navbar-dark.navbar-inverse
			//- nav.navbar.navbar-dark.navbar-inverse
			//- nav.navbar.navbar-dark.bg-inverse
			//- 	img.navbar-brand(src="images/fanstats.png", width="50px")
			//- 	ul.nav.navbar-nav#navbar
			//- 		li.nav-item
			//- 			a.nav-link(href='/') League
			//- 		li.nav-item
			//- 			a.nav-link(href='/players') Players
			//- 		li.nav-item
			//- 			a.nav-link(href='/defenses') Defenses
			.col-sm-12.powerbar
				//- .alert
				block bar2
			//- .col-sm-10.bg-dark
			//- 	block bar2
		.container-fluid
			.col-sm-6.grapharea
				span#graphHeading
				canvas#chartArea(width='400', height='320')
				block col1
			.col-sm-6.dataarea
				span#dataHeading1
				span#dataHeading2.pull-right
				#resultsArea
				block col2

		script(src='http://code.jquery.com/jquery-3.2.1.min.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js')
		script(src='js/fanstats.js')
		block scripts
