html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title FANSTATS
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet")
		//- link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")
		link(href='css/main.css', rel='stylesheet')
		//- link(href='images/favicon.jpg', rel='shortcut icon', type='image/jpg')
	body
		.container-fluid
			.row
				.col-sm-2.powerbar
					img(src='images/fanstats_green.png')
					block bar2
				.col-sm-5.dataarea
					.container-fluid
						.row
							.col-6.text-left
								span#dataHeading1
							.col-6.text-right
								span#dataHeading2.text-right
					#resultsArea
					block col2
				.col-sm-5.grapharea
					span#graphHeading
					canvas#chartArea(width='300', height='320')
					block col1

		script(src='http://code.jquery.com/jquery-3.3.1.min.js')
		//- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
		script(src='js/bundle.js')
		block scripts
