extends base 

block bar2
      .groupbox
         .form-check
            label.form-check-label
               input.form-check-input(type='radio', name='statRadio' value='0', checked)
               |&nbsp Points by Position
               select#managerList.form-control
         .form-check
            label.form-check-label
               input.form-check-input(type='radio', name='statRadio' value='1')
               |&nbsp High/Low Points
         .form-check
            label.form-check-label
               input.form-check-input(type='radio', name='statRadio' value='2')
               |&nbsp Alltime Points
         .form-check
            label.form-check-label
               input.form-check-input(type='radio', name='statRadio' value='3')
               |&nbsp Streaks
         .form-check
            label.form-check-label
               input.form-check-input(type='radio', name='statRadio' value='4')
               |&nbsp Draft Recaps
      .groupbox
         .form-group.input-historical
            label(for='year') Year:
            select#yearList.form-control

block scripts
   //- script(type='text/javascript') showData()
