extends base 

block bar2
      .groupbox
         .form-check
            label.form-check-label
               input.form-check-input(type='radio', name='managerRadio' value='0')
               |&nbsp League Wide
         .form-check
            label.form-check-label
               input.form-check-input(type='radio', name='managerRadio' value='1', checked)
               | Per Manager
               select#managerList.form-control

         //- .container-fluid
         //-    .row
         //-       .col-sm-1
         //-       .col-sm-11
         //-          .form-group
         //-             label(for='managerList') Manager:
         //-             select#managerList.form-control
      .groupbox
         .form-group.input-historical
            label(for='year') Year:
            select#yearList.form-control
      .groupbox
         .form-check
            label.form-check-label
               input.form-check-input(type='radio', name='statRadio' value='1', checked)
               |&nbsp Points Data
         .form-check
            label.form-check-label
               input.form-check-input(type='radio', name='statRadio' value='0')
               |&nbsp Highs/Lows
      button#getStats.btn.btn-primary.btn-block.top #[i.fa.fa-bar-chart.fa-2x] GO!
      //- button#testBtn.btn.btn-primary Test
